.booking {
  header {
    position: absolute;
    width: 100%;
    background: transparent;
  }

  .container {
    grid-template-rows: auto fit-content(150px);
  }

  main {
    display: flex;

    aside {
      background: url('../images/booking-bg.jpg');
      background-size: cover;
      background-position: center center;
      flex-basis: 50%;
    }

    article {
      padding: 60px;
      padding-top: 100px;
      min-width: 500px;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .booking-form {
    display: flex;
    flex: 1;
    align-self: stretch;
    justify-self: stretch;

    form>div {
      display: flex;
      flex-direction: column;
    }
  }

  .booking-rooms {
    min-width: 350px;
    border-right: 1px solid $grey1;
    padding-right: 25px;
  }

  .booking-confirmation {
    padding-left: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      font-size: 18px;
      margin-bottom: 25px;
      margin-left: 25px;
      list-style-type:disc;

      li {
        color: $grey7;
        margin-bottom: 5px;
      }
    }
  }

  .booking-price-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hotel-price {
    font-size: 25px;
    font-weight: bold;
    color: $primary3;
  }

  .hotel-price-taxes {
    font-size: 12px;
    color: $grey2;
    margin-bottom: 15px;
    font-weight: normal;
  }
}